---
# Tasks to configure Nginx (site and proxy configs)

# Check if config files are present in ./files/nginx/proxy-confs/
# - name: Find .conf files in ./files/nginx/proxy-confs/
#   ansible.builtin.find:
#     paths: "{{ playbook_dir }}/files/nginx/proxy-confs/"
#     patterns: "*.conf"
#   register: local_proxy_confs_files
#   delegate_to: localhost

# Proxy confs must end in subdomain.conf to auto load (hide logs as proxy conf can have ssl passwords)
- name: Generate proxy confs from swag__proxy_confs_subdomain variable
  ansible.builtin.template:
    src: proxy-confs/template_subdomain.conf.j2
    dest: "{{ swag__home }}/config/nginx/proxy-confs/{{ item.server_name }}.subdomain.conf"
    owner: "{{ item.owner | default(docker_uid | default(1040)) }}"
    group: "{{ item.group | default(docker_gid | default(1001)) }}"
  loop: "{{ swag__proxy_confs_subdomain }}"
  notify: restart swag
  when: swag__proxy_confs_subdomain is defined and swag__proxy_confs_subdomain|length>0
  no_log: "{{ swag__hide_sensitive_logs }}"

- name: Find files in {{ playbook_dir }}/files/nginx/proxy-confs/
  ansible.builtin.find:
    paths: "{{ playbook_dir }}/files/nginx/proxy-confs/"
    patterns: "*"
  register: local_proxy_confs_files
  delegate_to: localhost
  become: false
  changed_when: false
  failed_when: false

- name: "Copy local proxy-confs if exists in {{ playbook_dir }}/files/nginx/proxy-confs/"
  ansible.builtin.copy:
    src: "{{ item.path }}"
    dest: "{{ swag__home }}/config/nginx/proxy-confs/{{ item.path | basename }}"
    owner: "{{ docker_uid | default(1040) }}"
    group: "{{ docker_gid | default(1001) }}"
    mode: '0640'
  loop: "{{ local_proxy_confs_files.files | default([]) }}"
  when:
    - local_proxy_confs_files is defined
    - local_proxy_confs_files.files is defined
    - local_proxy_confs_files.files | length > 0
  notify: restart swag

- name: Find files in {{ playbook_dir }}/files/nginx/site-confs/
  ansible.builtin.find:
    paths: "{{ playbook_dir }}/files/nginx/site-confs/"
    patterns: "*"
  register: local_site_confs_files
  delegate_to: localhost
  become: false
  changed_when: false
  failed_when: false

- name: "Copy local site-confs if exists in {{ playbook_dir }}/files/nginx/site-confs/"
  ansible.builtin.copy:
    src: "{{ item.path }}"
    dest: "{{ swag__home }}/config/nginx/site-confs/{{ item.path | basename }}"
    owner: "{{ docker_uid | default(1040) }}"
    group: "{{ docker_gid | default(1001) }}"
    mode: '0640'
  loop: "{{ local_site_confs_files.files | default([]) }}"
  when:
    - local_site_confs_files is defined
    - local_site_confs_files.files is defined
    - local_site_confs_files.files | length > 0
  notify: restart swag

- name: Find files in {{ playbook_dir }}/files/nginx/sites/
  ansible.builtin.find:
    paths: "{{ playbook_dir }}/files/nginx/sites/"
    patterns: "*"
  register: local_sites_files
  delegate_to: localhost
  become: false
  changed_when: false
  failed_when: false

- name: "Copy websites from ./files/nginx/sites/<subfolder> to /var/www (if exists)"
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/files/nginx/sites/"
    dest: "/var/www"
    owner: "{{ docker_uid | default(1040) }}"
    group: "{{ docker_gid | default(1001) }}"
    mode: '0740'
  when: local_sites_files is defined and local_sites_files.files is defined and local_sites_files.files | length > 0
  notify: restart swag

# Set DNS config, currently only cloudflare
- name: set dns config for Cloudflare
  ansible.builtin.template:
    src: dns-conf/cloudflare.ini.j2
    dest: "{{ swag__home }}/config/dns-conf/cloudflare.ini"
    owner: "{{ docker_uid | default(1040) }}"
    group: "{{ docker_gid | default(1001) }}"
  when: (swag__cloudflare_global_email is defined and swag__cloudflare_global_api is defined) or swag__cloudflare_api_token is defined
  notify: restart swag

# Copy Tailscale real IP configuration
- name: Copy Tailscale real IP configuration
  ansible.builtin.template:
    src: tailscale-real-ip.conf.j2
    dest: "{{ swag__home }}/config/nginx/tailscale-real-ip.conf"
    owner: "{{ docker_uid | default(1040) }}"
    group: "{{ docker_gid | default(1001) }}"
    mode: '0640'
  when: swag__enable_tailscale_real_ip | default(false) | bool
  notify: restart swag
