---
- name: get docker uid
  ansible.builtin.getent:
    database: passwd
    key: docker
  register: docker_uid

- name: Save UID
  ansible.builtin.set_fact:
    docker_uid: "{{ docker_uid.ansible_facts.getent_passwd.docker[1] }}"
    docker_gid: "{{ docker_uid.ansible_facts.getent_passwd.docker[2] }}"
  when: docker_uid is defined

# Run setup
- name: Include tasks for setup
  include_tasks: setup.yml
  when: not swag__skip_setup|bool

- name: Include tasks configure Nginx
  include_tasks: configure_nginx.yml
